body {
  margin: 0;
  font-family: "Metamorphous", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Metamorphous", cursive;
  overflow-x: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
